<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="headersss.css">
    <title>Inventory</title>
</head>

<body>
    <nav>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/admin/products"><img src="/icons/tag-fill.svg" alt="" width="25" height="25" title="Tag">Products Page</a>

            </li>
            <li>

                <a href="/admin/users"><img src="/icons/people-fill.svg" alt="" width="25" height="25" title="Tag">Users</a>

            </li>
            <li>

                <a href="/sale"><img src="/icons/cart-plus.svg" alt="" width="25" height="25" title="Tag">Store</a>


            </li>
            <li>

                <a href="/admin"><img src="/icons/person-circle.svg" alt="" width="25" height="25" title="Tag">Admin</a>

            </li>
        </ul>
        <div id="log">
            Login
        </div>

    </nav>


    <script src="app.js"></script>
</body>

</html>