<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/filtab.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome.css">
    
    <script src="/scripts/filtab.js"></script>
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    

    <title>Inventory</title>
    
</head>
<body> 
    <div class="topnav">
       <center> <div style="width: 95%;">
        <a href="/admin/products">Products</a>
        <a href="/admin/users">Users</a>
        <a href="/sale">Sales</a>
        <a href="/admin">Admin</a>
        <div id="log">
        <% if (!currentUser){ %>
        <a href="/admin/login" >Login</a>
       
        <% } else { %>
            <a href="/admin/newproduct">Add New Product</a>
            <a href="/admin">Signed in as <%= currentUser.username %> </a>
        <a href="/logout" class="btn btn-danger" > Logout </a>
        <% } %>
      </div>
    </div> </center>
</div>
    <h3><%= message %></h3>