<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/filtab.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome.css">
    
    <script src="/scripts/filtab.js"></script>
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    
    

    <title>Inventory</title>

</head>

<body>
    <div class="topnav">
        <a href="/"><img src="/icons/tag-fill.svg" alt="" width="25" height="25" title="Tag">Products</a>

        <a href="/sale"><img src="/icons/minecart-loaded.svg" alt="" width="25" height="25" title="Bootstrap">Sales</a>
        <a href="/admin"><img src="/icons/person-circle.svg" alt="" width="25" height="25" title="Bootstrap">Admin</a>
        <div id="log">
            <% if (!currentUser){ %>
            <a href="/login">Login</a>

            <% } else { %>

            <a href="#"><img src="/icons/person-square.svg" alt="" width="25" height="25" title="Bootstrap">
                <%= currentUser.firstname.toUpperCase() %> <%= currentUser.lastname.toUpperCase() %> </a>
            <a href="/logout" class="btn btn-danger"> Logout </a>
            <% } %>
        </div>
    </div>
    <% if (error && error.length > 0) {%>
    <center>
        <div class="alert alert-danger" style="width: 30%;"><%= error%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button></div>
    </center>
    <%} %>