<%- include('partials/header'); -%>
    <div class="container">
        <div class="jumbotron" id="data">
            <center>
                <h1>WELCOME TO THE ADMIN PAGE</h1>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="card text-center" style="width: 17rem;">
                            <img src="/images/img_avatar.png" class="card-img-top" alt="Users" width="200" height="200" title="Tag">
                            <div class="card-body">
                                <h5 class="card-title">Users</h5>
                                <p class="card-text">Click below to go to get the list of users</p>
                                <a href="/admin/users" class="btn btn-primary">Users List</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card text-center" style="width: 17rem;">
                            <img src="/images/products_avatar.jpg" class="card-img-top" alt="Products" width="200" height="200" title="Tag">
                            <div class="card-body">
                                <h5 class="card-title">Products</h5>
                                <p class="card-text">Click below to go to get the list of products</p>
                                <a href="/admin/products" class="btn btn-primary">Products List</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card text-center" style="width: 17rem;">
                            <img src="/images/store_avatar.png" class="card-img-top" alt="Store" width="200" height="200" title="Tag">
                            <div class="card-body">
                                <h5 class="card-title">Store</h5>
                                <p class="card-text">Click below to go to to the store</p>
                                <a href="/sale" class="btn btn-primary">Store</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card text-center" style="width: 17rem;">
                            <img src="/images/img_avatar.png" class="card-img-top" alt="About" width="200" height="200" title="Tag">
                            <div class="card-body">
                                <h5 class="card-title">About</h5>
                                <p class="card-text">Click below to go to the about page</p>
                                <a href="/admin/history" class="btn btn-primary">History</a>
                            </div>
                        </div>
                    </div>
                </div>

            </center>
        </div>
    </div>



    <%- include('partials/footer'); -%>