<%- include('partials/header'); -%>

<div id="sidebar">
  <ul>
    <li ><a href="/admin/users" class="btn btn-lg btn-secondary" style="width: 100%;"> Users</a></li>
    <li class="active"><a href="/admin/create_user" class="btn btn-lg btn-secondary" style="width: 100%;">Create new user</a></li>
    <li><a href="/admin/products" class="btn btn-lg btn-secondary" style="width: 100%;">Products List</a></li>
    <li ><a href="/admin/newproduct" class="btn btn-lg btn-secondary" style="width: 100%;">Add new products</a></li>
    <li><a href="/sale" class="btn btn-lg btn-secondary" style="width: 100%;">Sales page</a></li>
  </ul>
</div>
<div id="data" style="height: 600px;">

<div class="container">
    <h1 style="text-align: center" id="padded">Create New User</h1>
    <div class="row" id="padded">
       <div style="width: 30%; margin: 25px auto;" id="form">
            <form action="/admin/create_user" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" >
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
            </form>
            
         
        </div>
    </div>
    

</div>
</div>
<%- include('partials/footer'); -%>



